:root {
    --color: hsl(0, 3%, 23%);
    --color2:hsl(0, 3%, 53%);
    --color3:hsl(0, 3%, 42%);
}

/* Flex Modifiers */

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

/* Flex Groups */

.flex-container.flex-center {
    justify-content: center;
    align-items: center;
}


/* Fake AI*/

aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0%;
    overflow: hidden;
}

#FAI{
    /*animation*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    /*settings*/
    width: inherit;
    height: inherit;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.splash-text {

    color: var(--color);

    white-space: nowrap;
    overflow: hidden;
    /*border-right: 3px solid;*/
    font-family: monospace;
    font-size: 5em;
}

.typing {
    margin-left: 10px;
}

.typing::after {
    content: "";
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Content */

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .splash-text {
            font-size: 2em;
            
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .splash-text {
            font-size: 3em;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .splash-text {
            font-size: 4em;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .splash-text {
            font-size: 5em;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .splash-text {
            font-size: 6em;
        }
    }

body {
    background-color: var(--color);
    padding: 0%;
    margin: 0;
    overflow: hidden;
}

main {
    display: grid;
    width: 50%;
    height: 100vh;
}

/*
body {
    background: rgb(40,40, 40);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: monospace;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}
*/
/* navigation menu */
/*
nav {
    background: #000000;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: #C0C0C0;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
#nav-ul li{
        background: black;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    #nav-ul li:hover {
        background-color: grey
    }
a {
    text-decoration: none;
    color: #C0C0C0;
}
*/
/* main container area beneath menu */
/*
main {
    background: white;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}
*/
/* portfolio styles */
/*
.content h1 {
    color: black;
}
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
#border1 {
border: 2px;
padding: 7px;
border-radius: 15px;
}
#border2 {
border: 2px;
padding: 7px;
border-radius: 50px 20px;
}
*/