body {
    background: rgb(40,40, 40);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: monospace;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}
/* navigation menu */
nav {
    background: #000000;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: #C0C0C0;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
#nav-ul li{
        background: black;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    #nav-ul li:hover {
        background-color: grey
    }
a {
    text-decoration: none;
    color: #C0C0C0;
}
/* main container area beneath menu */
main {
    background: white;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}
/* portfolio styles */
.content h1 {
    color: black;
}
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
#border1 {
border: 2px;
padding: 7px;
border-radius: 15px;
}
#border2 {
border: 2px;
padding: 7px;
border-radius: 50px 20px;
}